#recommended{
    display:flex;
    gap: 16px;
}
.card {
width: 200px;
 background: white;
 border-radius: 5px;
 overflow: hidden;
box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
.card-content h2 {
        margin-top: 0;
}
h2{
    color: rgb(97, 26, 163);
    font-size: large;
}
.card-content{
    padding: 15px;
}
h3{
    font-size: smaller;
    font-family:  Calibri;
    font-weight: 300;
}
.rating{
    color: rgb(236, 202, 10);
}
.cards{
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    gap: 16px
}